.settingsMenuButton {
    background-color: #6FD397;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: left;
    font-size: 22px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 50px;
    font-family: ReemKufi;
    font-weight: bolder;
    width: 550px;
}


.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FEFFF6;
    height: 100vh;
    
}

.accountSettingsContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
    background-color: #FEFFF6;
    margin-left: 100px;
    margin-top: 75px;
}

.backButton {
    background-color: #6FD397;
    border: none;
    color: black;
    padding: 7px 20px;
    margin-bottom: 20px;
    margin-top: 10%;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    width: auto;
    border-radius: 4px;
    font-family: ReemKufi;
    font-weight: bold;
    box-shadow: inset 0 0px 0px;
}

.redButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.redButton {
    background-color: #E85555;
    border: none;
    color: black;
    padding: 7px 20px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    width: auto;
    border-radius: 4px;
    font-family: ReemKufi;
    font-weight: bold;
}

.resetButton {
    background-color: #6FD397;
    border: none;
    color: black;
    padding: 12px;
    margin-top: 6px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: ReemKufi;
    font-weight: bold;
    float: left;
}

/*https://www.w3schools.com/howto/howto_css_shapes.asp*/
.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #fff;
	border-bottom: 10px solid transparent;
    margin-top: 3px;
    float: right;
    vertical-align: middle;
}

/*https://www.w3schools.com/howto/howto_css_arrows.asp*/
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-bottom: 3px;
    padding: 2px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 4px;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 4px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


.profileform label{
    color: black;
    float: right;
    border-radius: 4px;
    padding: 12px 12px 12px 0;
    display: flex;    
    font-family: ReemKufi;
    font-size: 20px;
}

 .profileform input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: ReemKufi;
    resize: vertical;
    font-size: 20px;
}

.profileform input[type="submit"] {
    background-color: #6FD397;
    border: none;
    color: black;
    padding: 7px 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 20px;
    width: auto;
    cursor: pointer;
    border-radius: 4px;
    font-family: ReemKufi;
    font-weight: bold;
    box-shadow: inset 0 0px 0px;
}

/* https://www.w3schools.com/howto/howto_css_responsive_form.asp */

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.privacyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FEFFF6;
    margin-top: 10%;
}

.numBlock{
    float: right;
    margin-right: 20px;
}

.privacy{
    width: 550px;
}

.privacyLabel{
    text-align: left;
    font-size: 22px;
    font-family: ReemKufi;
    background-color: #6FD397;
    border: none;
    color: black;
    font-weight: bolder;
    padding: 10px 32px
}

.privacySubLabel{
    text-align: left;
    font-size: 14px;
    font-family: ReemKufi;
    color: black;
}

/* Toggle switch from https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    float: right;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media screen and (max-width: 850px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .accountSettingsContainer{
        margin-left: 0px;
    }
    .profileform label {
        float: left;
        font-size: 12px;
    }

    .backButton{
        font-size: 12px;
    }

    .redButton{
        font-size: 12px;
    }

    .resetButton{
        font-size: 12px;
    }

    .profileform input{
        font-size: 12px;
    }

    .profileform input[type="submit"]{
        font-size: 12px;
    }

    .arrow {
        border-width: 0 2px 2px 0;
        margin-bottom: 1px;
    }

    .settingsMenuButton {
        font-size: 18px;
        /* width: 300px; */
          align-content: center;
        justify-content: center;
    }
    .setWeightGoalButtonContainer{
        width: 250px;
    }

    .privacyContainer {
        margin-top: 30%;
    }

    .numBlock{
        margin-right: 10px;
    }
    
    .privacy{
        width: 250px;
    }
    
    .privacyLabel{
        padding: 10px 10px;
        font-size: 18px;
    }
    
    .privacySubLabel{
        margin-top: 12px;
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .redButton{
        margin-left: 0px !important;
    }
}

@media screen and (max-height: 750px){
    .backButton{
        font-size: 10px;
        padding: 4px 17px;
    }

    .redButton{
        font-size: 12px;
        padding: 4px 17px;
    }

    .resetButton{
        font-size: 12px;
        padding: 6px;
    }

    .profileform input{
        font-size: 12px;
        padding: 6px;
    }

    .profileform input[type="submit"]{
        font-size: 12px;
        padding: 4px 17px;
        margin-bottom: 50px;
    }

    .arrow {
        border-width: 0 2px 2px 0;
        margin-bottom: 1px;
    }
}

@media screen and (max-height: 675px){
    .settingsMenuButton {
        margin-top: 30px;
    }
    .setWeightGoalButtonContainer{
        /* margin-top: 30px; */
        align-content: center;
        justify-content: center;
    }

    .backButton{
        font-size: 10px;
        padding: 2px 15px;
    }

    .redButton{
        font-size: 10px;
        padding: 2px 15px;
    }

    .resetButton{
        font-size: 10px;
        padding: 6px;
    }

    .profileform input{
        font-size: 10px;
        padding: 6px;
    }

    .profileform input[type="submit"]{
        font-size: 10px;
        padding: 2px 15px;
    }

    .arrow {
        border-width: 0 1px 1px 0;
        margin-bottom: 0px;
    }
}

@media screen and (max-height: 650px) {
    .profileform{
        margin-bottom: 30px;
    }

    .backButton{
        font-size: 10px;
        padding: 2px 15px;
    }

    .redButton{
        font-size: 10px;
        padding: 2px 15px;
    }

    .resetButton{
        font-size: 10px;
        padding: 6px;
    }

    .profileform input{
        font-size: 10px;
        padding: 6px;
    }

    .profileform input[type="submit"]{
        font-size: 10px;
        padding: 2px 15px;
        margin-bottom: 0px;
    }

    .arrow {
        border-width: 0 1px 1px 0;
        margin-bottom: 0px;
    }
}

@media screen and (max-height: 575px) {
    .profileform{
        margin-bottom: 10px;
    }
    
    .backButton{
        font-size: 10px;
        padding: 2px 12px;
    }

    .redButton{
        font-size: 10px;
        padding: 2px 12px;
        margin-left: 0px;
    }

    .resetButton{
        font-size: 10px;
        padding: 4px;
    }

    .profileform input{
        font-size: 10px;
        padding: 4px;
    }

    .profileform label{
        font-size: 10px;
        padding: 4px;
    }

    .profileform input[type="submit"]{
        font-size: 10px;
        padding: 2px 12px;
        margin-bottom: 20px;
    }

    .arrow {
        border-width: 0 1px 1px 0;
        margin-bottom: 0px;
    }

    .settingsMenuButton {
        margin-top: 20px;
    }
    .setWeightGoalButtonContainer{
        /* margin-top: 20px; */
        align-content: center;
        justify-content: center;
    }
    
}

.weightAndValue{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* background-color: blue; */
  width: fit-content;
  height: fit-content;
  margin-bottom: 32px;
 

}


.weightBox{
  background-color: #6FD397;
  width: fit-content;
  font-size: 22px;
  padding: 10px 32px;
  font-family: ReemKufi;
  font-weight: bolder;
  border-radius: 4px;
  /* margin-bottom: 30px; */
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.weightText{
  width: fit-content;
  font-size: 22px;
  padding: 10px 32px;
  font-family: ReemKufi;
  font-weight: bolder;
  border-radius: 4px;
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  
}

.setWeightGoalButtonContainer{
  height: 100%;
  margin-top: 32px;
  width: 550px;
}

.setWeightGoalButton{
  font-size: 20px;
  font-family: ReemKufi;
}

.calorieAndValue{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
 

}
.calorieBox{
  background-color: #6FD397;
  width: fit-content;
  font-size: 22px;
  padding: 10px 32px;
  font-family: ReemKufi;
  font-weight: bolder;
  border-radius: 4px;
  margin-top: 30px;
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.calorieText{
  width: fit-content;
  font-size: 22px;
  padding: 10px 32px;
  font-family: ReemKufi;
  font-weight: bolder;
  border-radius: 4px;
  margin-top: 30px;
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  
}

.setCalorieGoalButtonContainer{
  height: 100%;
  /* width: 50%; */
  margin-top: 32px;
  width: 550px;
}

.setCalorieGoalButton{
  font-size: 20px;
  font-family: ReemKufi;
}


.inputBox{
  font-size: 20px;
  font-family: ReemKufi;
  font-weight: bolder;

}
