.linkLabel2{
    font-size: 20px;
    font-family: ReemKufi;
    margin-right: 10px;
}

.addTagInput2{
    font-size: 20px;
    font-family: ReemKufi;
    width: 120px;
    background-color: #D6EBDC; 
    border: #000000;
    margin-bottom: 30px;
}

.addToListButton2{
    float: right;
    margin-right: 10%;
    background-color: #6FD397;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: ReemKufi;
    font-size: 14px;
    cursor: pointer;
}

.addToListButtonTags2{
    background-color: #6FD397;
    margin-left: 20px;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: ReemKufi;
    font-size: 14px;
    cursor: pointer;
}

.pref{
    display: flex;
    /* justify-content: normal; */
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
  }
  
  .pref button { /*https://www.w3schools.com/howto/howto_css_button_group_vertical.asp*/
    background-color: #6FD397; /* Green background */
    border: 1px solid green; /* Green border */
    color: black; /* black text */
    padding: 10px 120px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    font-size: large;
    margin-top: 20px;
    font-family: "ReemKufi";
    font-weight: bold;
  }
  
  .pref button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .pref button:hover {
    background-color: #3e8e41;
  }

  .legend {
    background-color: #6FD397;
    color: black;
    font-family: "RubikOne";
    font-size: 20px;
    padding: 3px 6px;
}

.budgetLabel{
    font-family: "ReemKufi";
}

.budgetInput{
    font-family: "ReemKufi";
}