@font-face{
    font-family: RubikMonoOne;
    src: url(../fonts/RubikMonoOne-Regular.ttf)
}

@font-face{
    font-family: RubikOne;
    src: url(../fonts/RubikOneRegular-y49d.ttf)
}


.center {
    text-align: center;
    padding-left: 10px;
    font-family: RubikMonoOne;
    font-size: 20px;
}

h2 {
    font-family: RubikOne;
}

.buttonStyle {
    font-family: RubikMonoOne;
    color: white;
    padding: 5px;
    border-radius: 12px;
    background-color: #6fd397;
    font-size: 25px;
}

.buttonStyle1 {
    font-family: RubikMonoOne;
    color: white;
    padding: 5px;
    border-radius: 12px;
    background-color: #6fd397;
    font-size: 15px;
}

.textbox {
    margin-bottom: 10px;
    border-radius: 5px;
}