@font-face{
    font-family: RubikMonoOne;
    src: url(../fonts/RubikMonoOne-Regular.ttf)
}

@font-face{
    font-family: RubikOne;
    src: url(../fonts/RubikOneRegular-y49d.ttf)
}


.signUpContainer {
    margin-left: 100px;
    padding-left: 10px;
    font-family: RubikMonoOne;
    font-size: 20px;
}

h2 {
    font-family: RubikOne;
    text-align: center;
}

.buttonStyle {
    font-family: RubikMonoOne;
    color: white;
    padding: 5px;
    border-radius: 12px;
    background-color: #6fd397;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.buttonStyle1 {
    font-family: RubikMonoOne;
    color: white;
    padding: 5px;
    border-radius: 12px;
    background-color: #6fd397;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.textbox {
    margin-bottom: 10px;
    border-radius: 5px;
}

.errorMessage{
    margin-left: 10px;
    font-size: 14px;
    color: red;
    text-align: inherit;
}

.landingPageContainer{
    text-align: center;
    padding-left: 10px;
    font-family: RubikMonoOne;
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    .errorMessage{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 550px) {
    .errorMessage{
        font-size: 10px;
    }
    
}