@font-face{
    font-family: RubikMonoOne;
    src: url(../fonts/RubikMonoOne-Regular.ttf)
}

@font-face{
    font-family: RubikOne;
    src: url(../fonts/RubikOneRegular-y49d.ttf)
}

@font-face{
    font-family: ReemKufi;
    src: url(../fonts/ReemKufi-Regular.ttf)
}

.logosize{
    width: 500px;
    height: 300px;
}

.iconsize{
    width: 300px;
    height: 300px;
}

.font1{
    text-align: center;
    width: 75%;
}

h1 {
    font-family: RubikMonoOne;
    font-size: 100px;
}

.font1h{
    text-align: center;
    font-family: RubikMonoOne;
    font-size: 20px;
}

.font2{
    text-align: center;
    width: 50%;
}

h2 {
 
    font-family: RubikOne;
    font-size: 50px;
}

.font2h{
    font-family: RubikOne;
    font-size: 20px;
}

.font3 {
    width: 20%;
}

h3 {
    font-family: ReemKufi;
    font-size: 30px;
}

.font3h{
    font-family: ReemKufi;
    font-size: 20px;
}


.Green{
    background: #6fd397;
    height: 100px;
    width: 100px;
}

.LightYellow{
    background: #fefff6;
    border: 2px;
    border-color: #000000;
    border-style: solid;
    height: 100px;
    width: 100px;
}

.DarkGreen{
    background: #59a376;
    height: 100px;
    width: 100px;
}

.White{
    background: #ffffff;
    height: 100px;
    width: 100px;
    border: 2px;
    border-color: #000000;
    border-style: solid;
}

.Black{
    background: #000000;
    height: 100px;
    width: 100px;
}

.layoutSubHeader {
    text-align: left;
    
    font-family: ReemKufi;
}

p {
    font-size: 20px;
    font-family: ReemKufi;
    color:#000000;
    text-align: left;
}


.styleGuideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEFFF6;
}

.lastVideo {
    margin-bottom: 200px;
}