.banner{
    display: flex;
    position: relative;
    background-color: #6FD397;
    height: 147px;
    justify-content:flex-start;
    margin-left: 190px;
    align-items: center;
}

.titleStyle{
    padding-left: 10px;
    font-size: 100px;
    line-height: 123.8px;
    color: #FFFFFF;
}

/* .searchBar{
    margin-left: auto; 
    margin-right: 10px;
    
} */

.button{
    display: inline-block;
    position: absolute;
    margin-right: 50px;
    right: 0;
}


 @media screen and (max-width: 850px) {
    .titleStyle{
        font-size: 30px;
    }

    .banner {
        height: 75px;
        margin-left: 0px;
    }
 }

 @media screen and (max-width: 350px) {
    .titleStyle{
        font-size: 30px;
    }

    .banner {
        height: 75px;
        margin-left: 0px;
    }
 }