.dietTageStyle{
    border-radius: 46px;
    background-color: white;
    /* border: transparent; */
}
.buttonTitle{
    font-size:16px;
    color: #27AE60;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    
}

.dietTagContainer{
    margin-bottom: 10px;
}

