.dietTageStyle{
    border-radius: 46px;
    background-color: white;
    /* border: transparent; */
}
.buttonTitle{
    font-size:16px;
    color: #27AE60;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    
}

.dietTagContainer{
    margin-bottom: 10px;
}

.profileDietTag{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #D6EBDC;
    border-radius: 40px;
    font-family: ReemKufi;
    font-size: 14px;
}

