.infoContainer{
    display: flex;
    width: 100%;
    background-color: red;
}

.nameContainer{
    display: flex;
    height:100%;    
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
}
.name{
    width: 100%;
}

.leftsideOfInfoContainer{
    width: 50%;
    height: 100%;
    background-color: khaki;
}
.bioAndButtonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
    height: 79.5%;
}
.editBio_Photo_Container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:darkgrey;
    justify-content: space-evenly;
    /* margin-left: 20px; */

}
.photoButton{
    border: none;
    outline: none;
    
}
.rightSideOfInforContainer{
    background-color: darkorange;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.dietTagContainer{
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    width: 100%;
    

    
}

.dietTagRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: darkorchid;
    justify-content: space-around;

}

.calorieAndWeightContainer{

    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: deepskyblue;
    height: 100%;

}