.userlist-block {
    text-align: center;
    background: #6FD397;
    border-radius: 20px;
    padding:10px;
    margin-left: 40%;
    margin-bottom: 20px;
    width:340px;
    display: inline-block;
  }

.wordfont {
    font-family: RubikOne;
    text-align: center;
}

.wordfont2{
    font-family: ReemKufi;
}