.userlist-block {
    text-align: center;
    background: #6FD397;
    border-radius: 20px;
    padding: 5px;
    margin-left: 40%;
    margin-bottom: 15px;
    width:340px;
    display: inline-block;
  }

.wordfont {
    font-family: RubikOne;
    text-align: center;
}

.wordfont2{
    font-family: ReemKufi;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInputContainer{
    margin-right: 10px;
}