.paragraph{
    /* font-size: medium;
    margin-left: 110px;
    text-align: left;
    color: black; */
    /* margin-left: 100px; */
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

.contact{
    /* font-size: medium;
    text-align: left;
    margin-left: 110px; */
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

.subheader {
    text-align: center;
    justify-content: center;
}

.imaging {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 250px;
    width: 250px;
}